h1 {
  /* #1 */
  border: 10px inset #0000ff;
  padding: 20px;
  margin: 40px;
  background-color: #87CEEB;
}
p {
  /* #1 */
  border: 10px outset #ff0000;
  padding: 30px;
  margin: 10px;
  background-color: #F4A460;
}
